

@{
    ViewData["Title"] = "N7 Mission Statement";
}


<!--<div style="margin-top: 5%; text-align: center;">
    <h2 style="margin-bottom: 40px;" class="about">@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>-->

<div class="about-div mission-statement">

    <h2 class="mission-stmt-hdr">N7 Mission Statement</h2>

    <p class="about">
        Laugh it up, Garrus. I should go. They said it couldn't be done! Then again, that's been said about a lot of things you do. That is a joke. Your superiors are sending you to certain death
        for no good reason. You have a right to disobey.
    </p>

    <p class="about">
        I believe they are amphibian. The matriarch hired by the asari government to track my movements? They’re just trying to control us. Think about it: If they wanted all organic life destroyed,
        they could it. There would be nothing left. The quarians endangered the entire galaxy when they let the Geth break free. I hope your people are properly contrite, Tali. As opposed to a fake
        dead one?
    </p>

    <p class="about">
        Cerberus regulations are clear, Mr. Moreau. 'Personalization' does not include grease on my bridge cameras. We can disobey suicide orders? Why wasn’t I told? That’s about twice a day.
        Shocking suggestion! Doctor-patient confidentiality a sacred trust. Would never dream of mockery. Enjoy yourself while possible, Shepard. Will be here, studying cell reproduction. Much
        simpler. Less alcohol and mood music required. Joking? By the goddess, how could I be so dense! You must think I am a complete and utter fool. It’s hard enough fighting a war, but it’s worse
        knowing no matter how hard you try… you can’t save them all.
    </p>

    <p class="about">
        Go now to the sea. Flammable! ...or inflammable. Forget which. Doesn't matter! Worried about my qualifications? I can crush a mech with my biotics or shoot its head off at 100 yards. Take
        your pick. Windows are a structural weakness. Geth do not use them. I know what you are, and the price of dealing with you. We do things my way from now on. Harbinger is coming. And he won’t
        be alone. I’m going to make sure we’re ready when they get here. You can fall in line or step aside. But don’t get in my way.
    </p>
</div>