

@{
    ViewData["Title"] = "N7 Mission Statement";
}

@section Header{
    <div style="background-color: black;" class="container-fluid">
        <h2 style="color: red; text-align: center; margin-right: 2.5%;">N7 Mission Statement</h2>
    </div>
    <hr />
}

<!--<div style="margin-top: 5%; text-align: center;">
    <h2 style="margin-bottom: 40px;" class="about">@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>-->

<div class="about-div">
    <p class="about">
        Laugh it up, Garrus. I should go. They said it couldn't be done! Then again, that's been said about a lot of things you do. That is a joke. Your superiors are sending you to certain death
        for no good reason. You have a right to disobey.
    </p>

    <p class="about">
        I believe they are amphibian. The matriarch hired by the asari government to track my movements? They’re just trying to control us. Think about it: If they wanted all organic life destroyed,
        they could it. There would be nothing left. The quarians endangered the entire galaxy when they let the Geth break free. I hope your people are properly contrite, Tali. As opposed to a fake
        dead one?
    </p>

    <p class="about">
        Cerberus regulations are clear, Mr. Moreau. 'Personalization' does not include grease on my bridge cameras. We can disobey suicide orders? Why wasn’t I told? That’s about twice a day.
        Shocking suggestion! Doctor-patient confidentiality a sacred trust. Would never dream of mockery. Enjoy yourself while possible, Shepard. Will be here, studying cell reproduction. Much
        simpler. Less alcohol and mood music required. Joking? By the goddess, how could I be so dense! You must think I am a complete and utter fool. It’s hard enough fighting a war, but it’s worse
        knowing no matter how hard you try… you can’t save them all.
    </p>

    <p class="about">
        Go now to the sea. Flammable! ...or inflammable. Forget which. Doesn't matter! Worried about my qualifications? I can crush a mech with my biotics or shoot its head off at 100 yards. Take
        your pick. Windows are a structural weakness. Geth do not use them. I know what you are, and the price of dealing with you. We do things my way from now on. Harbinger is coming. And he won’t
        be alone. I’m going to make sure we’re ready when they get here. You can fall in line or step aside. But don’t get in my way.
    </p>

    <p class="about">
        Impressive. You certainly know how to make an entrance. Does this unit have a soul? He is correct. It was a delicacy in our cycle. This is not the pinnacle of asari development. This is but a
        face we show to the galaxy. Nothing more. When you put it that way, there’s no reason they wouldn’t like you. I mean, us! Humans! Ma’am.
    </p>

    <p class="about">
        Sneaking into the Captain's quarters? Heavy risk. But the prize... I'm good, Shepard! Ready for anything! We live, we'll get loud, spill some drinks on the Citadel! Some other time. About to test
        new bio-weapon. Not on us, of course. Didn’t think I had to specify, but Joker got nervous. Okay, that’s a little weirder, but… yeah, alright. Cushions. I don't know what kind of time we have, but
        we better dust off and stay ready. You sure as hell know how to make enemies.
    </p>

    <p class="about">
        Over the years I've grown used to the smell of burning bodies. That's probably a bad sign. Safety standards advise against manipulating drive settings while engines are powered and in use, Mr. Moreau.
        Huh. Nobody died. Uh, sic semper tyrana… Do you have to make it sound so... tawdry?
    </p>

    <p class="about">
        That’s what separates us, Shepard. Where you see a means to destroy, I see a way to control – to dominate and harness the Reapers’ power The more good you do, the less they to want to admit that something
        needed doing. Impressive. You certainly know how to make an entrance. And I gave you the moral support to dodge them. I apologize, but prayers for the wicked must not be forsaken.
    </p>

    <p class="about">
        That's a straw, Tali This is all Joker’s fault. What a tool he was. I have to spend all day computing pi because he plugged in the Overlord. Just so you know I'm running a fever, I've got a nasty cough, and
        my sinuses are filled with something I can't even describe. And it was totally worth it! When you put it that way, there’s no reason they wouldn’t like you. I mean, us! Humans! Ma’am. You get the help you deserve.
    </p>

    <p class="about">
        The matriarch hired by the asari government to track my movements? Humans don't have that. Impressive. You certainly know how to make an entrance. We appreciate your patience. Please continue to hold.
        Probing Uranus.
    </p>
</div>