

@{
    ViewData["Title"] = "Contact";
}


<div style="margin-top: 5%; text-align: center;">
    <h2>@ViewData["Title"]</h2>
    <!--<h3>@ViewData["Message"]</h3>-->
</div>
<div class="conta">
    <img class="contact-photo" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/31113748_10160404853150128_6711937971202818048_n.jpg?_nc_cat=105&_nc_ht=scontent-ort2-1.xx&oh=380e901dc3caea2f3aee5f4e438681fb&oe=5CC3E48C" />
</div>


<!--
<div class="contact-div">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    -->
