

@{
    ViewData["Title"] = "Contact";
}


@section Header{
    <div style="background-color: black;" class="container-fluid section-header">
        <h2 style="color: red; text-align: center;">Contact</h2>
    </div>
    <hr />
}



<!--
<div class="contact-div">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    -->
