@{
    ViewData["Title"] = "Welcome to the N7 Emporium";
}



<div class="home-div">
        <div style="margin-bottom: 10px; margin-top: 15px;">
            <h2 style="color: red; text-align: center;">@ViewData["Title"]</h2>
            <h5 style="color: red; text-align: center;">Everything you need, to take back Earth</h5>
        </div>
        <iframe class="video" width="400" height="500" src="https://www.youtube.com/embed/2a27IdajHUU" frameborder="0" allowfullscreen></iframe>
</div>